<template>
    <padded-section class="px-4 py-16">
        <div class="w-full max-w-xl mx-left relative" style="max-width: 940px;">
            <h3 class="font-display text-5xl leading-snug text-primary font-bold mb-4">Why Biblical Responsible Investing is important</h3>
        </div>
        <div class="w-full max-w-xl mx-auto relative" style="max-width: 940px;">   
            <p class="font-body text-2xl mb-4">The scriptures say a lot about money; in fact it’s one of the most covered topics. God wants to make sure we put our trust and faith in Him and not something we’ve created.</p>
        </div>
    </padded-section>
</template>

<script>
export default {
    name: 'quiz'
}
</script>
