<template>
    <div id="hero" class="relative -mt-16 overflow-x-visible">
        <div style="background-image:url(/biblically-responsible-investment/dist/images/biblical-investing.png)" class="text-whitebg-no-repeat bg-bottom bg-cover h-screen" alt="A sad child" >
            <div class="w-full px-3 lg:px-8 absolute lg:pt-64 pt-32 max-w-5xl absolute-center">
                <div style="max-width: 680px;">
                <p class="font-base font-normal font-body text-3xl text-white pt-4">Biblically Responsible Investing</p>
                <h1 class="font-display text-white lg:text-5xl text-4xl leading-extra-tight md:text-shadow-none py-10">You can see profit<br>without compromising<br>Biblical principles.</h1>
                <a :href="this.contactLink" class="button shadow button-narrow-mobile mt-4">START TODAY</a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import "../images/medical-hero.png";
import "../images/biblical-investing.png";

export default {
    name: 'hero-section',
    props: ['ctaLink','contactLink','imageType']
}
</script>
