<template>
    <div class="overflow-x-visible">
        <padded-section classes="px-4">
            <padded-section>
                <h2 class="font-display leading-none text-4xl text-primary font-bold md:w-3/4 mb-0 lg:mb-6">BRI investing should matter to believers</h2>
            </padded-section>
            <div class="z-10 w-full pb-20 relative md:flex md:flex-wrap">
                <div class="w-full md:w-1/2 mb-8 relative md:pr-0">
                    <div class="px-4 lg:py-8 py-0 md:py-0">
                        <p class="mb-0 text-3xl">When you invest, you’re helping a company expand its reach and grow. We want to help the companies that will use that expansion for good. That’s why we screen out those that profit from Human Rights Abuse, Human Trafficking, Pornography, Alcohol, Tobacco, Gambling, and Alternative Lifestyles.</p>
                    </div>
                </div>
                <div class="w-full md:w-1/2 mb-8 relative md:pr-0">
                    <div class="px-4 lg:py-8 py-0 md:py-0">
                        <p class="mb-0 text-3xl">That’s just the first step in the process to create a group of companies to consider, but it’s an important step that keeps our decisions pure and true to our calling.</p>
                    </div>
                </div>
                <div class="w-full md:w-1/2 mx-left mb-8 px-4 relative md:pr-0">
                    <a :href="this.contactLink" class="button shadow button-narrow-mobile mt-8 mx-auto">Find out How</a>
                </div>
                <img src="/biblically-responsible-investment/dist/images/Protect.jpg" class="my-20" style="height: 480px;width: 100%;background-size: cover;object-fit: cover;background-position: top;">
                <padded-section>
                    <h2 class="font-display leading-none text-4xl text-primary font-bold md:w-3/4 mb-0 lg:mb-6">Rules based investing matters</h2>
                </padded-section>
                <div class="w-full md:w-1/2 flex mb-8 relative md:pr-0">
                    <div class="px-4 lg:py-8 py-0 md:py-0">
                        <p class="mb-0 text-3xl">Our developed set of rules is key to investing that is predictable. Not in the sense that we know the future ups and downs of a market; rather, we have already determined how your money would reposition to manage your risk. We believe this is a consistent and repeatable process that takes the emotion out of investing and can help lead to long term success.</p>
                    </div>                   
                </div>
                <div class="w-full md:w-1/2 flex mb-8 relative md:pr-0">
                    <div class="px-4 lg:py-8 py-0 md:py-0">
                        <p class="mb-0 text-3xl">We begin with the Russell 1000 on the U.S. Stock Market; we screen out companies connected to immoral areas and measure available companies against the rules to produce a list worthy of your investments.</p>
                    </div>
                </div>
                <a :href="this.contactLink" class="button shadow button-narrow-mobile mt-8 mx-auto">Find out How</a>
            </div>
            <div class="w-full mx-auto">
                <p class="text-center"> * https://news.gallup.com/poll/225140/social-impact-funds-unknown-investors.aspx </p>
            </div>
        </padded-section>
        <div style="background-image:url(/biblically-responsible-investment/dist/images/financial-growth.png)" class="text-whitebg-no-repeat bg-center bg-cover" >
            <padded-section classes="px-4 md:px-10" style="padding-top: 5%;">
                <div class="z-10 w-full relative md:flex md:flex-wrap">
                    <div class="w-full">
                        <h2 class="font-display px-0 md:px-10 lg:1/3 md:w-1/3 w-full text-white lg:text-5xl text-4xl mt-4">financial growth & generosity</h2>
                    </div>
                    <div class="clearfix"></div>
                    <div class="w-full">
                        <p class="mt-3 float-right lg:1/2 md:w-1/2 w-full text-3xl text-white">
                            For God, who gives seed to the farmer to plant, and later on good crops to harvest and eat, will give you more and more seed to plant and will make it grow so that you can give away more and more fruit from your harvest.
                        </p>
                    </div>
                </div>
            </padded-section>
        </div>
    </div>
</template>

<script>
import "../images/financial-growth.png";
import "../images/Grow.jpg";
import "../images/Succession.jpg";
import "../images/Retire.jpg";
import "../images/Protect.jpg";

export default {
    name: 'reasons-section',
    props: ['ctaLink','contactLink']
}
</script>
